<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homehub.dragan.myhomehub">

    <application
        android:name=".Activities.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".Activities.CreateRoutineActivity"></activity>
        <activity android:name=".Activities.DeviceRegWebActivity"></activity>
        <activity android:name=".Activities.AddDeviceRegActivity" />
        <activity android:name=".Activities.EditRoutineActivity"/>

        <activity
            android:name=".Activities.LoginActivity"
            android:label="My Home Hub"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.WidgetConfigActivity" />
        <activity android:name=".Activities.EntityActivity" />
        <activity
            android:name=".Activities.HomeHubActivity"
            android:label="My Home Hub" />
        <activity
            android:name=".Activities.BackgroundActivity"
            android:label="My Home Hub"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Activities.SignupActivity"
            android:label="Sign up for My Home Hub" />
        <activity android:name=".Activities.AccountSubActivity" />
        <activity
            android:name=".Activities.AddDeviceActivity"
            android:label="@string/title_activity_add_device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AccountActivity"
            android:label="@string/title_activity_account" />
        <activity
            android:name=".Activities.AutomationActivity"
            android:label="@string/title_activity_automation" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name=".Classes.provider.EntityContentProvider"
            android:authorities="com.homehub.dragan.myhomehub.Classes.provider.EntityContentProvider"
            android:exported="false" />
        <provider
            android:name=".Classes.provider.DummyContentProvider"
            android:authorities="com.homehub.dragan.myhomehub.Classes.provider.DummyContentProvider"
            android:exported="false" />

        <receiver android:name="Classes.provider.EntityWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/entity_widget_info" />
        </receiver>
        <receiver
            android:name=".Classes.provider.DataSyncService$TerminateConnectionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="TERMINATE_CONNECTION" />
            </intent-filter>
        </receiver>

        <service android:name=".Classes.provider.DataSyncService" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>